<!DOCTYPE html>
<html ng-app='listCreate' lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>To Do List</title>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.5/angular.min.js"></script>
  <script src="script.js"></script>
  <link rel="stylesheet" href="styles.css" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Anton|Permanent+Marker|Port+Lligat+Slab" rel="stylesheet">
</head>
<body ng-controller='listCtrl'>
  <header>
    <h2>SO MUCH</h2>
    <h1>TO DO</h1>
  </header>
  <div id="notepad-container">
    <div id="inputs-container">
      <input type="text" ng-model="listitem" placeholder="what's on your mind?">
      <button type="button" id="add" ng-click="addItem(listitem); listitem=''">ADD TO LIST</button>
      <input type="text" ng-model="search" placeholder="🔎 filter tasks"> <!--unicode for mag glass didn't display?-->
    </div>
    <div>
      <div ng-repeat="task in toDoList | filter: search">
        <div class="task-container" id="{{ $index }}">
          <button class="list-item-button" type='button' ng-click="removeItem($index)">remove</button>
          <span class="list-item">{{ task }}</span>
        </div>
      </div>
    </div>
  </div>
</body>
</html>
