body {
  margin: 0;
  padding: 0;
}

header {
  margin: 0;
  text-align: center;
  font-family: 'Anton', sans-serif;
}

h1, h2 {
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 5em;
  margin-top: -2.5%;
}

h2 {
  font-size: 3em;
}

input {
  margin: 0 auto;
  padding: 4px;
  border: 2px solid #655;
  border-radius: 3px;
  font-family: 'Port Lligat Slab', sans-serif;
  width: 200px;
}

button {
  padding: 4px;
  background-color: #8C6;
  border: 2px solid #655;
  border-radius: 3px;
  font-family: 'Port Lligat Slab', sans-serif;
}

#add {
  width: 200px;
}

#notepad-container {
  margin: 0 auto;
  padding: 0;
  width: 60%;
}

#inputs-container {
  margin: 0 auto;
  padding: 20px 0;
  width: 100%;
  text-align: center;
  background-color: #433;
  border-radius: 3px;
}

.task-container {
  display: inline-block;
  margin: 0px auto;
  width: 100%;
  font-family: 'Permanent Marker', cursive;
  font-size: 2em;
  padding: 0;
  color: #235;
  background-image: url('./img/notepad_row.png');
}

.list-item {
  margin-left: 3em;
}

.list-item-button {
  margin-left: 5em;
}
